@import "../../styles.scss";

.student-accordion {
  mat-accordion {
    mat-expansion-panel {
      width: 90vw;
      margin: 1.5rem auto 10rem auto;
      mat-expansion-panel-header {
        mat-panel-title {
          color: $primary-color;
          font-size: 1.1em;
          font-weight: 500;
          width: 100%;

          // Add hover effect
          transition: color 0.3s ease;

          &:hover {
            color: darken($primary-color, 10%);
          }
        }
      }

      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }
}
