<div class="student-accordion">
    @if (isLoading) {
    <app-loading />
    } @else {
    <mat-accordion class="student-accordion-list" [multi]="true">
        <mat-expansion-panel *ngFor="let student of students">
            <mat-expansion-panel-header>
                <mat-panel-title class="student-title">
                    <span class="student-name">{{student.name}}</span>
                </mat-panel-title>
            </mat-expansion-panel-header>

            <app-student-dashboard [student]="student" />
        </mat-expansion-panel> 
    </mat-accordion>
    }
</div>